body {
	background-color: #444444
}
body{
	color: #ffffff
}
body{
	font-family: "Times New Roman"
}
body{
	font-style: oblique
}
body{
	text-align: center
}
body{
	margin: 10px
}
body{
	padding: 15px 
}

#test{
	color: #ff00ff
} 
